<div class="container">
    <div class="row"> 
       <div class="col-8">       
           <div>
               <tabset>
               <tab heading="facebook">
                   <p>Facebook Graph </p>
                   <div class="row" style="background-color: white;">
                            <form>
                                <textarea name="posts"  rows="4">Recent Posts</textarea>                               
                                <label>Friends</label>
                                <tabset>
                                    <tab heading="Most Contacted">
                                        <p>Most contacted People info goes here</p>
                                    </tab>
                                    <tab heading="Blocked Freinds">
                                        <p>Blocked Users People info goes here</p>
                                    </tab>
                                </tabset>
                            </form>
                </div>
               </tab>
               <tab heading="Telegram">
                   <p>Telegram informatin goes here</p>
                   <textarea  rows="4"> Telegraph </textarea>
               </tab>
               <tab heading="Twitter">
                   <p>Twitter information goes here</p>
                   <textarea  rows="4">Twitter</textarea>
               </tab>
               </tabset>
            </div>
       </div>
</div>