.card:hover img{
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}
.card img{
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    
}
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}
.member-icons{
    position: absolute;
    bottom:-30%;
    left:0;
    right:0;
    margin-right:auto;
    margin-left:auto;
    opacity:0;

}
.card-img-wrapper:hover .member-icons{
    bottom:0;
    opacity:1
    }
.animate{
    transition: all 0.3s ease-in-out;
}
@keyframes fa-blink {
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

.is-online {
    animation: pulse 2s infinite;
    color: rgb(1, 189, 42);
    border-radius: 100%;
    box-shadow: 0 0 0 rgb(1, 189, 42); 
    display: block;
    width: 22px;
    height: 22px;
}
/* custom below */
.pulse {
     border-radius: 50%; 
    
    color: rgb(1, 189, 42);
    box-shadow: 0 0 0 rgb(1, 189, 42);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgb(1, 189, 42);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgb(1, 189, 42);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgb(1, 189, 42)
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 0px rgb(1, 189, 42);
      box-shadow: 0 0 0 0 rgb(1, 189, 42)
    }
    
    70% {
        -moz-box-shadow: 0 0 0 10px rgb(1, 189, 42);
        box-shadow: 0 0 0 10px rgb(1, 189, 42)
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 5px rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }